@use "variables" as*;

@media screen and (max-width: 480px) {

    

        .hero-main{

        flex-direction: column;
        padding-inline: 2rem;
        padding-top: 3rem;
        max-width: 100%;
        .hero-text h2{
        font-size: 4rem;
    }
    }
    
    

    .cartas{
        flex-direction: column;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }
    .grid-item{
        flex: 1;
    }

    .mapa{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
    }
}

