@use "variables" as*;

.tituloMenu{
    font-family: $fontSecundaria;
    text-align: center;
    color: $rojo;
    }

.menu{
    display: flex;
    padding: 2rem;
    margin: 1rem;
    max-width: 100%;
    .menu-izquierda{
    margin: 0.5rem;
}

    .menu-derecha{
    margin: 0.5rem;
}

.imagen-menu{
    width: 50rem;
    border-radius: 2px;
}



}